
/*
.products-table{
    margin-top: 20px;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
}

.products-table-heading-tr{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.products-table-tr{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 30px;
}

.products-table th{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.products-table td{
    padding: 20px;
    display: flex;
    align-items: center;
}

.products-table-img{
    width: 120px;
    border-radius: 10px;
    object-fit: cover;
}
*/
.products-table-btn{
    margin: 0px 5px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: var(--white);
    padding: 7px 12px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: ease 0.3s;
}
.products-table-btn:hover{
    background-color: var(--orange-dark);
}